<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Bus API</title>
</head>
<body>
  <div>
    <h1>
      Open Bus API
    </h1>
    <p>
      This is the main page for the Open Bus API which uses the
      <a href="https://data.bus-data.dft.gov.uk">
        Department for Transport's Open Bus Data Service
      </a>
      to provide real-time bus locations and details.
    </p>
  </div>
</body>
</html>